In [88]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer

def one_hot_convert(df, col, drop = 0):
    col = col.lower()
    encoder = LabelBinarizer()
    for i in df[col]:
        if type(i) == str or not np.isnan(i):
            fillna = i
            break
    if type(i)==str:
        fillna = "nan"
    else:
        fillna = -1
    df[col] = df[col].fillna(fillna)
    oneHot = encoder.fit_transform(df[col])
    colnames = [col + '_' + str(_).lower() for _ in sorted(list(df[col].unique()))]
    tmp = pd.DataFrame(oneHot, columns=colnames)
    tmp = tmp.set_index(df.index)
    df = pd.concat([df, tmp], axis = 1)
    if col +"_"+ str(fillna) in df.columns:
        df = df.drop(col +"_"+ str(fillna), axis = 1)
    if drop : 
        df = df.drop(col, axis = 1)
    return df

def to_num(df, col, sort_flag = 0, reference = []):
    global categ_dico
    col = col.lower()
    if not len(reference):
        reference = list(df[col].unique())
    if sort_flag :
        reference.sort()
    df[col] = df[col].apply(lambda x:reference.index(x))
    categ_dico[col] = reference
    return reference

In [45]:
CINE = pd.read_csv("CINEMASHS2.csv", low_memory = 0, index_col = 0)
CINE2 = pd.read_csv("CINE2.csv", low_memory = 0, index_col = 0)
categ_dico = {}
CINE_EX = pd.DataFrame(CINE)
CINE.columns = [_.lower() for _ in list(CINE.columns)]

Index(['entrees', 'genre', 'copies', 'devis', 'distrib', 'produc', 'origine',
       'ae', 'rd', 'coc', 'rang', 'duree', 'cannes', 'regard', 'quinzaine',
       'venise', 'berlin', 'critlegit', 'critpopu', 'nbcritiques',
       'rk_entrees', 'rk_copies', 'rk_devis', 'categ.copies'],
      dtype='object')

In [59]:
cine.head()

,entrees,copies,devis,distrib,produc,origine,ae,rd,coc,rang,...,categ.copies,genre_action,genre_animation,genre_autre,genre_comdram,genre_comédie,genre_documentaire,genre_drame,genre_horreur,genre_sci-fi
1,2191.0,6.0,NaN,NotAv,9,MINO,0,0,TP,4.0,...,"[5,10)",0,0,0,1,0,0,0,0,0
2,20542.0,80.0,NaN,NotAv,NotAv,F100,0,0,TP,2.0,...,"[50,100)",0,0,0,0,1,0,0,0,0
3,15454.0,30.0,NaN,NotAv,tvFR,F100,0,0,TP,2.0,...,"[20,50)",0,0,0,1,0,0,0,0,0
4,2832.0,6.0,NaN,NotAv,NotAv,EUROPE,1,0,16,1.0,...,"[5,10)",0,0,0,0,0,0,1,0,0
5,177519.0,220.0,NaN,NotAv,tvFR,F100,1,0,TPA,7.0,...,"[200,400)",0,0,0,1,0,0,0,0,0

In [68]:
cine = one_hot_convert(CINE, "Genre", drop = 1)

In [86]:
tmp

,origine_europe,origine_f100,origine_majo,origine_mino,origine_tiers,origine_usa,origine_nan
1,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0
3,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0
5,0,1,0,0,0,0,0
6,0,1,0,0,0,0,0
7,0,0,0,0,0,0,1
8,0,0,1,0,0,0,0
9,1,0,0,0,0,0,0
10,0,0,1,0,0,0,0
11,1,0,0,0,0,0,0
12,0,1,0,0,0,0,0
13,1,0,0,0,0,0,0
14,0,0,0,0,0,1,0
15,1,0,0,0,0,0,0
16,0,0,0,0,1,0,0
17,0,0,0,0,0,1,0
18,1,0,0,0,0,0,0
19,0,1,0,0,0,0,0
20,0,0,1,0,0,0,0
21,0,0,0,0,0,1,0
22,0,1,0,0,0,0,0
23,0,1,0,0,0,0,0
24,0,0,0,0,0,1,0
25,0,0,0,0,0,1,0
26,0,0,0,0,0,1,0
27,1,0,0,0,0,0,0
28,0,1,0,0,0,0,0
29,0,0,0,0,0,1,0
30,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...
9743,0,1,0,0,0,0,0
9744,0,0,0,0,0,0,1
9745,0,0,0,0,0,0,1
9746,0,0,0,0,0,0,1
9747,0,0,0,0,0,0,1
9748,0,0,0,0,0,0,1
9749,0,0,0,0,0,0,1
9750,0,0,0,0,0,0,1
9751,0,0,0,0,0,0,1
9752,0,1,0,0,0,0,0
9753,0,0,0,0,0,0,1
9754,0,1,0,0,0,0,0
9755,0,0,0,0,0,0,1
9756,0,0,0,1,0,0,0
9757,0,0,0,0,0,0,1
9758,1,0,0,0,0,0,0
9759,0,0,0,0,0,0,1
9760,0,1,0,0,0,0,0
9761,0,0,0,1,0,0,0
9762,1,0,0,0,0,0,0
9763,0,1,0,0,0,0,0
9764,0,0,0,0,0,0,1
9765,0,1,0,0,0,0,0
9766,0,0,0,0,0,0,1
9767,0,0,0,0,0,0,1
9768,0,0,1,0,0,0,0
9769,0,0,0,0,0,0,1
9770,0,1,0,0,0,0,0
9771,0,0,0,0,0,0,1
9772,0,1,0,0,0,0,0

In [89]:
#to_num(CINE, "Genre")
cine = one_hot_convert(CINE, "Genre", drop = 1)
cine = one_hot_convert(cine, "produc", drop = 1)
cine = one_hot_convert(cine, "distrib", drop = 1)
cine = one_hot_convert(cine, "origine", drop = 1)
to_num(CINE, "distrib")
to_num(CINE, "produc", reference = categ_dico["distrib"])
to_num(CINE, "origine")
to_num(CINE, "coc")
tmp = CINE["categ.copies"].unique()
mask = [6, 0, 5, 2, 1, 4, 3, 7, 8, 9]
tmp = tmp[mask]
to_num(CINE, "categ.copies", reference = list(tmp))

['[1,5)',
 '[5,10)',
 '[10,20)',
 '[20,50)',
 '[50,100)',
 '[100,200)',
 '[200,400)',
 '[400,600)',
 '[600,1100]',
 nan]

In [6]:
CINE.head()

,ENTREES,Genre,copies,DEVIS,distrib,produc,origine,AE,RD,coc,...,quinzaine,venise,berlin,critlegit,critpopu,nbcritiques,rk_entrees,rk_copies,rk_devis,categ.copies
1,2191.0,ComDram,6.0,NaN,0,3,0,0,0,0,...,0,0,0,NaN,NaN,0.0000,11.981518,18.395689,NaN,1
2,20542.0,Comédie,80.0,NaN,0,0,1,0,0,0,...,0,0,0,2.000000,2.0,0.6250,39.871889,57.643279,NaN,4
3,15454.0,ComDram,30.0,NaN,0,5,1,0,0,0,...,0,0,0,3.600000,3.0,0.7500,36.107319,41.097523,NaN,3
4,2832.0,Drame,6.0,NaN,0,0,2,1,0,1,...,0,0,0,3.333333,3.0,0.4375,14.522734,18.395689,NaN,1
5,177519.0,ComDram,220.0,NaN,0,5,1,1,0,2,...,0,0,0,3.200000,3.5,0.8125,69.956946,77.007980,NaN,6

In [7]:
pca = PCA(n_components = 2)
#r = pca.fit_transform(C)

encoder = LabelBinarizer()
oneHot = encoder.fit_transform(CINE.Genre)

In [58]:
cine.head(10)

,entrees,copies,devis,distrib,produc,origine,ae,rd,coc,rang,...,categ.copies,genre_action,genre_animation,genre_autre,genre_comdram,genre_comédie,genre_documentaire,genre_drame,genre_horreur,genre_sci-fi
1,2191.0,6.0,NaN,NotAv,9,MINO,0,0,TP,4.0,...,"[5,10)",0,0,0,1,0,0,0,0,0
2,20542.0,80.0,NaN,NotAv,NotAv,F100,0,0,TP,2.0,...,"[50,100)",0,0,0,0,1,0,0,0,0
3,15454.0,30.0,NaN,NotAv,tvFR,F100,0,0,TP,2.0,...,"[20,50)",0,0,0,1,0,0,0,0,0
4,2832.0,6.0,NaN,NotAv,NotAv,EUROPE,1,0,16,1.0,...,"[5,10)",0,0,0,0,0,0,1,0,0
5,177519.0,220.0,NaN,NotAv,tvFR,F100,1,0,TPA,7.0,...,"[200,400)",0,0,0,1,0,0,0,0,0
6,45795.0,35.0,NaN,NotAv,NotAv,F100,1,1,TP,3.0,...,"[20,50)",0,0,0,0,0,0,1,0,0
7,62796.0,100.0,NaN,NotAv,tvFR,NaN,1,0,NotAv,3.0,...,"[100,200)",0,0,0,1,0,0,0,0,0
8,2912.0,10.0,NaN,NotAv,NotAv,MAJO,1,1,TP,8.0,...,"[10,20)",0,0,0,1,0,0,0,0,0
9,301.0,5.0,NaN,NotAv,NotAv,EUROPE,0,0,TP,1.0,...,"[5,10)",0,0,0,1,0,0,0,0,0
10,3061.0,6.0,NaN,NotAv,NotAv,MAJO,1,1,TP,5.0,...,"[5,10)",0,0,0,0,0,0,1,0,0

In [9]:
cine = cine.drop("Genre", axis = 1)

In [39]:
cine.insert(1, "remplissage", cine.ENTREES/cine.copies)